.codeyzer-iframe {
    z-index: 9999999;
    position: absolute;
}

.codeyzer-autocomplete {
	border-top: 25px solid #ff7f2a;
	border-left: 1px solid #ff7f2a;
	border-right: 1px solid #ff7f2a;
	border-bottom: 1px solid #ff7f2a;
    right: 50px;
    bottom: 50px;
    width: 700px;
    height: 400px;
    opacity: 0.98;
}

.codeyzer-beniac {
    right: 100px;
    bottom: 100px;
    width: 48px;
    height: 48px;
}