#qrPanel {
    z-index: 999999999;
    position: fixed;

    width: 255px; 
    height: 300px;
    left: calc(50% - 150px);
    top: calc(50% - 150px);
}

#qrcode {
    position: absolute;
    bottom: 15px;
}